Package: @@PACKAGE_NAME@@
Version: @@VERSION@@
Section: admin
Priority: optional
Architecture: @@ARCH@@
Installed-Size: @@SIZE@@
Maintainer: lukas.pustina@gmail.com
Description: Watches luftdaten.info particulates sensors and sends E-Mails if measurements exceed thresholds

